.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  background-color: #999ca3;
  box-sizing: border-box;
}

p {
  width: 450px;
  color: white;
}
h1{
  color: white;
}
h3 {
  word-spacing: -3px;
  padding: 10px 15px;
  color: white;
}

/* to make sections r */
#sections {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {

  .positioning {}

  #sections {
    display: flex;
    flex-direction: column;
  }

  .firstSection img,
  .secondSection img {
    width: 400px;
  }

  .firstSection p,
  .secondSection p,
  .thirdSection p {
    width: 300px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 8px 30px;
  margin: 5px;
  font-size: larger;
  color: wheat;
  border: none;
  border-radius: 8px;
  background-color: dodgerblue;
}

.firstSection {
  background-image: url('../public/bgPic.PNG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
}

.secondSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 450px;
  margin-bottom: 20px;
}

.App div.fourthSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  margin-top: 20px;
}

.fourthSectionCards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  .fourthSectionCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee6e6;
  border-radius: 10px;
  margin: 10px;
  width:300px;
  padding: 10px;
}
.App div.fifthSection{
  display: flex;
  flex-direction: row;
  background-color: #6014a8;
  margin-top: 50px;
}
.fifthSection div.para{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
}
.fifthSection div.whiteSec{
  background-color: #eee6e6;
  width: 550px;
}
.fifthSection div.purpleSec{
  width: 100px;
}
@media screen and (max-width: 600px) {
  .App div.fifthSection{
    display: flex;
    flex-direction: column;
  }
  .fifthSection div.para{
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.App div.seventhSection{
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #008fb3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seventhSection div.post{
  display: flex;
  flex-direction: row;
}
.post img{
  height: 220px;
  width: 230px;
}
@media screen and (max-width: 600px) {
  .post, .seventhSection{
    display: flex;
    flex-direction: column;
  }
  
}
.App div.eitSection{
  display: flex;
  flex-direction: column;
  background-color: #4e0f81;
  align-items: center;
}
.eitSection div.poster{
  display: flex;
  flex-direction: row;
}
.poster div.card{
  align-items: center;
  background-color: #8151a1;
  
}
.poster div.card img{
  width: 90px;
  height: 90px;
}
@media screen and (max-width: 600px) {
  .eitSection div.poster{
    display: flex;
    flex-direction: column;
  }
}
.App div.ninthSection{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ninthSection div.card{
  background-color: #2b3241;
}
@media screen and (max-width: 600px) {
  .App div.ninthSection{
    display: flex;
    flex-direction: column;
  }
}
.App div.tenthSection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(37, 31, 22);
}
.App div.tenthSection p{
  width: 100%;
  align-items: flex-start;
}
.tenthSection div.menu{
  display: flex;
  flex-direction: row;
  background-color: dodgerblue;
}

.menu div.card p, ul{
  color:#2b3241;
}